body,
html {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #cdd2ff;
  margin: 0 auto;
  max-width: fit-content;
  display: grid;
  grid-template-rows: 1fr;
  height: 100%;
  padding: 0;
}

main {
  grid-template-columns: 1fr;
  display: grid;
  gap: 30px;
}

header,
footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f7f492;
  border: 1px solid black;
}

header img {
  padding-inline-start: 0px;
}

h1 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  padding-bottom: 10px;
}

.hero {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 300px;
}

#herolabel p {
  margin: 0;
  font-size: 2rem;
}

#herolabel a {
  text-decoration: none;
}

.card {
  background-color: #f7f492;
  padding: 10px;
  border: 1px solid black;
  display: grid;
}

nav {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
}

nav a {
  display: block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

#menu {
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 3px 7px 6px;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❌";
}

.navi {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navi li {
  display: none;
}

.navi li a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

/* toggle open close for menu*/
.open li {
  display: block;
  width: 100%;
}

.open li a {
  display: block;
}

/* toggle open close for dark mode */
.dark-mode {
  background-color: rgb(58, 58, 58);
}

.dark-mode header,
footer,
.dark-mode .card {
  background-color: black;
  color: white;
}

.dark-mode a:link {
  color: white;
}

.dark-mode a:visited {
  color: white;
}

/* Discover Page */

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  width: 100%;
}

.grid-item {
  padding: 10px;
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
  background-color: #f7f492;
}
