/* Larger Views ******************************/
@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  .card:nth-child(3) {
    grid-column: span 2;
  }

  nav ul {
    display: flex;
  }

  .navi {
    flex-direction: row;
  }

  .navi li {
    display: block;
  }

  /* hide the phone hamburger button */
  #menu {
    display: none;
  }

  #hero {
    margin-top: 0;
  }

  #hero-msg {
    margin-top: 0;
  }

  #hero-image {
    width: 100%;
  }

  #herolabel {
    position: absolute;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    width: auto;
  }

  .grid-item {
    padding: 10px;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    background-color: #f7f492;
  }

  .hover:hover {
    box-shadow: 0 0 50px #333;
  }
}
