/* Larger Views ******************************/
@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  .card:nth-child(3) {
    grid-column: span 2;
  }

  nav ul {
    display: flex;
  }

  .navi {
    flex-direction: row;
  }

  .navi li {
    display: block;
  }

  /* hide the phone hamburger button */
  #menu {
    display: none;
  }
}
