:root {
  --black: black;
  --border: 1px solid var(--black);
  --label: black;
}

h1 {
  color: var(--black);
}

form {
  max-width: 23rem;
  margin: 0 auto;
}

fieldset {
  border: var(--border);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

legend {
  color: var(--black);
}

label {
  display: block;
  color: var(--label);
  padding: 10px;
  font-size: 1.5rem;
}

input {
  display: block;
  font-size: 1rem;
  border: var(--border);
  padding: 0.75rem;
  color: black;
  font-weight: 700;
  width: 98%;
  max-width: 20rem;
}
